.ti 
        {  
        margin-top: -20px;
        text-align: center;
        background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('./imag2.jpg'); 
        height: 450px;
        border:solid 1PX black;
        background-size: cover;
        height: 100vh;
        width: 100%;
        
        }
  

body 
        {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        
        }
    

  .topnav a 
        {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-top: 10px;
        }
        
  .topnav{
      position: fixed;
  }

  .topnav a:hover 
        {
        background-color:greenyellow;
        color: black;
        }
  

  .topnav a.active 
        {
        background-color: greenyellow;
        color: white;
        }

  
  .se 
        {
        font-style: italic;
        text-align: right;
        color:greenyellow;
        }


  .li 
        {
        height: max-content;
        }


  .parag
        {
        color:rgb(42, 30, 53);
        line-height: 35px;
        }


   .parag1
        {
         size: 15px;
         color: rgb(0, 0, 0);
         text-align: center;
         text-decoration: underline greenyellow;
         text-transform: capitalize;
         font-family:sans-serif;
         font-size: 125%;
        }


  .ti 
        {
        background-color:yellowgreen;
        color: black;
        text-align:center;
        }
       
 
  .no 
        {
         color: greenyellow;
        text-align: center;
        }


  .cer 
        {
        border-radius:  50%; 
        background-color: rgb(255, 72, 0);
        width: 50%;
        height: 50%;
        }


  .flex-container 
        {
        display: flex;
        justify-content: center;
        align-content: center;
        }
        

  .x 
        {
        background-color: #f1f1f1;
        margin: 50px;
        padding: 50px;
        font-size: 50px;
        border-radius: 40%;
        }


  .ic 
        {
        width: 3%;
        position: absolute;
        align-self: center; 
        }


  .x 
        {
        display: flex;
        justify-content: center;
        align-content: center;
        }


  .y 
        {
        display: flex;
        justify-content: center;
        align-content: center;
        }


  .w    
        {
        display: flex;
        justify-content: center;
        align-content: center;
        }


  .z 
        {
        display: flex;
        justify-content: center;
        align-content: center;
        }
  
  .bt input
        {
        border-radius: 5%;
        background-color: rgb(252, 253, 251);
        border: none;
        text-align: center;
        cursor: pointer;
        font-size: 25px;
        padding: 14px 40px;
        color: greenyellow;
        border-radius: 12px;
        border: 2px solid greenyellow;
        }


        .bt input:hover{
            background-color: greenyellow;
            color: white;
        }


    .bt 
        {
        text-align: right;
        max-width: 40px;
        size: 60%;
        }

    
    .flex-container2 
        {
        display: flex;
        justify-content: center;
        align-content: center;
        }
    
    

    .grid
        {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        
        }


    .fas
        {
        margin: 30px;
        background-color: rgb(240, 238, 239);
        padding: 50px;
        border-radius: 50%;
        color: greenyellow;
        font-size: 50px;
        }

    h2
        {
        font-size: 20px;
        text-align: center;
        }


    .containr11 
        {
        display:flex;
        justify-content: space-between;
        margin: 2rem;
        width: 50%;
        }


   .image 
        {
        display: flex;
        border: solid 2px yellowgreen; 
        }


      .image img  
        {
        height: 100%;
        width: 14.1VW;
        }
    

      .flex-container 
        {
        display: flex;
        justify-content: space-around;
        }

      .vi{
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 2px solid greenyellow;
        }
      .you
      {
           color: rgb(15, 15, 17);
            font-family: verdana;
            font-size: 300%; 
            text-transform: capitalize;
            font-family:sans-serif;
      }
      .fas
      {
         border: 2px solid greenyellow;   
      }
     